.petsList {
  &-header {
    display: flex;
    align-items: center;

    button {
      border-radius: 4px;
      margin-left: 15px;
      height: 25px;
    }
  }

  ol {
    -moz-column-count: 3;
    -moz-column-gap: 40px;
    -webkit-column-count: 3;
    -webkit-column-gap: 40px;
    column-count: 3;
    column-gap: 40px;

    li {
      max-width: 200px;
      word-wrap: break-word;
    }
  }
}
