<div class="form">
    <form (ngSubmit)="onSubmit()" [formGroup]="petForm" >
        <input type="text" name="petName" placeholder="pet name" formControlName="petName">
        <button class = "form-sendBtn" type="submit" [disabled]="petForm.invalid">Send</button>
    </form>

    <div class = "form-infoBox">
        <span class = "invalidInfo" *ngIf = "petForm.invalid && petForm.value.petName !== ''" >
            You have already added the animal name {{petForm.value.petName}}
        </span>
        <span class="sending"> Sending</span>
    </div>
</div>